    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <div class="btn-toolbar mb-2 mb-md-0">
			<button id='last_update' type="button" class="btn btn-sm btn-outline-secondary" disabled>
					Prices from <%= "#{time_ago_in_words( @poll_request_time )} ago " %> 
		    </button>
			<span id='refresh_spinner' class="refresh_spinner d-none"></span>
			<button onclick="RefreshPrices('Stock');return false;" 
					class='btn btn-sm btn-outline-secondary refresh_button'>Refresh Stocks </button>
			<button onclick="RefreshPrices('Options & Funds');return false;" 
					class='btn btn-sm btn-outline-secondary refresh_button'>Refresh Options & Funds </button>
			
      </div>
    </div>

<% @all_data.each_with_index do |data,i| %>
<h3><%= @group_names[i] %></h3>
<div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Cash</th>
	      <th>Stocks</th>
	      <th>Options</th>
	      <th>Total Value</th>
	      <th>Daily Change</th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% data[0].each do |port| %>
	      <tr>
	        <td><%= link_to port.name, portfolio_path(port.id) %></td>
	        <td class='text-right'><%= number_to_currency(port.cash) %></td>
	        <td class='text-right'><%= number_to_currency(port.total_stocks_value) %></td>
	        <td class='text-right'><%= number_to_currency(port.total_options_value) %></td>
	        <td class='text-right'><%= number_to_currency(port.cash+port.total_stocks_value + port.total_options_value) %></td>
	        <td class='text-right'><%= number_to_currency(port.total_stocks_change_value) %></td>
	      </tr>		
	    <% end %>
	
	      <tr>
	        <td></td>
	        <td class='text-right'><%= number_to_currency(data[1]) %></td>
	        <td class='text-right'><%= number_to_currency(data[2]) %></td>
	        <td class='text-right'><%= number_to_currency(data[3]) %></td>
	        <td class='text-right'><%= number_to_currency(data[1]+data[2]+data[3]) %></td>
	        <td class='text-right'><%= number_to_currency(data[4]) %></td>
			<td></td>
	      </tr>
	
	  </tbody>
	</table>
	
	<% end %>
	
</div>

<br>
<br>

