<% @all_data.each_with_index do |data,i| %>
<h3><%= @group_names[i] %></h3>
<div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th>Name</th>
	      <th>Cash</th>
	      <th>Stocks</th>
	      <th>Options</th>
	      <th>Total Value</th>
	      <th>Daily Change</th>
	    </tr>
	  </thead>
	
	  <tbody>
	    <% data[0].each do |port| %>
	      <tr>
	        <td><%= link_to port.name, stocks_path(portfolio_name: port.name ) %></td>
	        <td class='text-right'><%= number_to_currency(port.cash) %></td>
	        <td class='text-right'><%= number_to_currency(port.total_stocks_value) %></td>
	        <td class='text-right'><%= number_to_currency(port.total_options_value) %></td>
	        <td class='text-right'><%= number_to_currency(port.cash+port.total_stocks_value + port.total_options_value) %></td>
	        <td class='text-right'><%= number_to_currency(port.total_stocks_change_value) %></td>
	      </tr>		
	    <% end %>
	
	      <tr>
	        <td></td>
	        <td class='text-right'><%= number_to_currency(data[1]) %></td>
	        <td class='text-right'><%= number_to_currency(data[2]) %></td>
	        <td class='text-right'><%= number_to_currency(data[3]) %></td>
	        <td class='text-right'><%= number_to_currency(data[1]+data[2]+data[3]) %></td>
	        <td class='text-right'><%= number_to_currency(data[4]) %></td>
			<td></td>
	      </tr>
	
	  </tbody>
	</table>
	
	<% end %>
	
</div>



