<div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th>Symbol</th>
	      <th class='toggleDisplay in text-right'>Quantity</th>
	      <th class='toggleDisplay in text-right'><%= sortable 'value' %>  </th>	
	      <th class='toggleDisplay in text-right'><%= sortable 'change' %> </th>
	      <th class='text-right'>Price</th>
	      <th class='toggleDisplay text-right'>As of</th>
	      <th class='toggleDisplay in text-right'><%= sortable 'dividends','Dividends(share)' %></th>	
	      <th class='toggleDisplay text-right'>Portfolios</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @stocks.each do |stock| %>
	      <tr>
	        <td><%= stock[0] %></td>
	        <td class='toggleDisplay in text-right'><%= number_with_precision(stock[1], :precision => 0, :delimiter => ',') %></td>
	        <td class='toggleDisplay in text-right'><%= number_to_currency(stock[2]) %></td>
	        <td class='toggleDisplay in text-right'><%= number_to_currency(stock[3]) %></td>
	        <td class='text-right'><%= number_to_currency( stock[5].to_f ) %> (<%= number_to_currency( stock[6].to_f ) %>)</td>
	        <td class='toggleDisplay text-right'><%= "#{time_ago_in_words( Time.parse(Stock.where(symbol: stock[0]).last.as_of ) ) } ago " %> (<%= Stock.where(symbol: stock[0]).last.as_of %>)</td>
	        <td class='toggleDisplay in text-right'><%= number_to_currency(stock[7]) %> (<%= number_to_currency(stock[9]) %>)</td>
	        <td class='toggleDisplay text-right'><%= stock[8] %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
</div>
