<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
	<tr>
	<td>Portfolio:</td>
	<td>Purchase price:</td>
	<td>Quantity:</td>
	<td>Symbol:</td>
	<td>Name:</td>
	<td>Portfolio:</td>
	<td>Purchase date:</td>
	<td>Strike:</td>
	<td>Expiration date:</td>
	<td>Stock option:</td>
  	</tr>
  </thead>
<tbody>
  <tr>
	<td><%= @stock.portfolio %></td>
	<td><%= @stock.purchase_price %></td>
	<td><%= @stock.quantity %></td>
	<td><%= @stock.symbol %></td>
	<td><%= @stock.name %></td>
	<td><%= @stock.portfolio_id %></td>
	<td><%= @stock.purchase_date %></td>
	<td><%= @stock.strike %></td>
	<td><%= @stock.expiration_date %></td>
	<td><%= @stock.stock_option %></td>
    </tr>
  </tbody>
</table>
	
<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
