<table>
	<tr><td>View </td>
		<td>

			<div class="dropdown">
			  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
			 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span id='perspective'><%= @perspective %></span>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<%= link_to 'Consolidated', consolidated_path(portfolio_name: @portfolio_name), class: "dropdown-item" %>
					<%= link_to 'Positions', positions_path(portfolio_name: @portfolio_name), class: "dropdown-item" %>
					<%= link_to 'Graphs', graphs_path(portfolio_name: @portfolio_name), class: "dropdown-item" %>
					<%= link_to 'Dividends', dividends_new_path(portfolio_name: @portfolio_name), class: "dropdown-item" %>
			  </div>
			</div>


</td>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;Scope </td>
		
<td>
	<div class="dropdown">
	  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
	 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <span id='portfolio_Name'><%= @portfolio_name %></span>
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<% @portfolios.each do |p| %>
		    <a onclick="Dividends_Portfolio('<%= @perspective %>', '<%= p %>', );return false;" class="dropdown-item" href="#"><%= p %></a>
			<% end %>
	  </div>
	</div>
		
</td>

</td>
	<td>&nbsp;&nbsp;&nbsp;&nbsp;Display </td>
		
<td>
	<div class="dropdown">
	  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
	 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    <span id='display_divs'><%= @display %></span>
	  </button>
	  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<% @displays.each do |d| %>
		    <a onclick="Display_Dividends('<%= @perspective %>', '<%= @portfolio_name %>', '<%= d %>' );return false;" class="dropdown-item" href="#"><%= d %></a>
			<% end %>
	  </div>
	</div>
		
</td>
</tr>
</table>
<br>


  <div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      	<th>Symbol</th>
			<th class='text-right'>Shares</th>
			<th class='text-right'>Price</th>
	      	<th class='text-right'>Investment</th>
			<th class='text-right'>Annual_Divs</th>			
			<th class='text-right'>Yield</th>			
			<th class='text-right'>Recent Dividends</th>			
			<th class='text-right'></th>			
	    </tr>
	  </thead>

  <tbody>

<% total_divs = 0 %>

  <% @stock_divs.each do |sym| %>
    <tr>
	<% div = Dividend.where(symbol: sym[0], date: Date.today-1.week..Date.today) %>
	<% if !div.empty? or @display == 'All' %>
		   <td><%= sym[0] %></td>
		   <td class='text-right'><%= number_with_precision(sym[2], precision: 2, delimiter: ',') %></td>
		   <td class='text-right'><%= number_to_currency(Stock.find_by_symbol(sym[0]).price) %></td>
		   <td class='text-right'><%= number_to_currency(sym[2] * Stock.find_by_symbol(sym[0]).price) %></td>
		   <td class='text-right'><%= number_to_currency(sym[3]) %></td>
		   <td class='text-right'><%= number_to_percentage( sym[4] ) %></td>
		<% div = Dividend.where(symbol: sym[0], date: Date.today-1.week..Date.today) %>
		<% if !div.empty? %>
		   <% dividend = sym[2] * div.last.amount %>
		   <% total_divs += dividend %>
		   <td class='text-right'><%= number_to_currency( dividend ) %></td>
		   <td class='text-right'> <%= number_to_currency( div.sum(0) { |d| d.amount }) %>/share on <%= div.last.date.strftime('%m-%d-%Y') %></td>
		<% else %>
			<td></td>
			<td></td>
		<% end %>
	<% end %>
	</tr>
  <% end %>

	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td class='text-right'><%= number_to_currency(@value_stock_total) %></td>
		<td colspan=2 class='text-right'></td>
		<td class='text-right'><%= number_to_currency(total_divs) %></td>
		<td></td>
	</tr>

	<tr>
		<td colspan=4 class='text-right'>Annualized</td>
		<td class='text-right'><%= number_to_currency(@monthly_stock_divs_total) %></td>
		<td class='text-right'><%= number_to_percentage( 100 * (@monthly_stock_divs_total/@value_stock_total) ) %></td>
		<td colspan=2 class='text-right'></td>
	</tr>
  </tbody>
</table>

<br>
Last Updated: <%= time_ago_in_words Dividend.all.order(updated_at: :asc).last.updated_at %> ago
<br><br><br><br>


  <div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      	<th>Symbol</th>
			<th class='text-right'>Shares</th>
			<th class='text-right'>Price</th>
	      	<th class='text-right'>Investment</th>
			<th class='text-right'>Annual_Divs</th>			
			<th class='text-right'>Yield</th>			
			<% @dates.each do |d| %>
		      <th class='text-right'><%= "#{Date::ABBR_MONTHNAMES[d[1]]}-#{d[0].to_s}" %></th>
			<% end %>
	    </tr>
	  </thead>

  <tbody>
			    
    <% @stock_divs.each do |sym| %>
      <tr>
	    <td><%= sym[0] %></td>
	    <td class='text-right'><%= number_with_precision(sym[2], precision: 2, delimiter: ',') %></td>
	    <td class='text-right'><%= number_to_currency(Stock.find_by_symbol(sym[0]).price) %></td>
	    <td class='text-right'><%= number_to_currency(sym[2] * Stock.find_by_symbol(sym[0]).price) %></td>
	    <td class='text-right'><%= number_to_currency(sym[3]) %></td>
	    <td class='text-right'><%= number_to_percentage( sym[4] ) %></td>
		<% @dates.each do |year,month| %>
			<% val = sym[1].select { |d| d[1] == month and d[0] == year }.sum(0) { |t| t[2].to_f * sym[2].to_f } %>
			<% value = val != 0 ? number_to_currency(val) : '' %>
        <td class='text-right'><%= value %></td>
		<% end %>
	 </tr>
    <% end %>

	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td class='text-right'><%= number_to_currency(@value_stock_total) %></td>
		<td></td>
		<td class='text-right'></td>
		<% @current_year.each do |cy| %>
		    <td class='text-right'><%= number_to_currency(cy) %></td>
		<% end %>
	</tr>

	<tr>
		<td colspan=4 class='text-right'>Annualized</td>
		<td class='text-right'><%= number_to_currency(@monthly_stock_divs_total) %></td>
		<td class='text-right'><%= number_to_percentage( 100 * (@monthly_stock_divs_total/@value_stock_total) ) %></td>
		<% @dates.each do |year,month| %>
		    <td class='text-right'><%= number_to_currency(@annual_stock_divs_total[month]) %></td>
		<% end %>
	</tr>
  </tbody>
</table>

<br>
Last Updated: <%= time_ago_in_words Dividend.all.order(updated_at: :asc).last.updated_at %> ago
<br><br><br><br>
