<table>
	<tr><td>View </td>
		<td>
			<div class="dropdown">
			  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
			 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span id='perspective'><%= @perspective %></span>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<%= link_to 'Consolidated', consolidated_path, class: "dropdown-item" %>
					<%= link_to 'Positions', positions_path(portfolio_name: @portfolio_name), class: "dropdown-item" %>
					<%= link_to 'Graphs', graphs_path(portfolio_name: @portfolio_name), class: "dropdown-item" %>
					<%= link_to 'Dividends', dividends_new_path(portfolio_name: @portfolio_name), class: "dropdown-item" %>
			  </div>
			</div>
		</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;Scope </td>

		<td>						
			<div class="dropdown">
			  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
			 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span id='portfolio_name'><%= @portfolio_name %></span>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<% @portfolios.each do |p| %>
				    <a onclick="ChangePortfolio('<%= p %>');return false;" class="dropdown-item" href="#"><%= p %></a>
					<% end %>
			  </div>
			</div>
		</td>
			<td>&nbsp;&nbsp;&nbsp;&nbsp;Period </td>

		<td>
			<div class="dropdown">
			  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
			 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span id='period'><%= @period %></span>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<% @periods.each do |p| %>
				    <a onclick="ChangePeriod('<%= p %>');return false;" class="dropdown-item" href="#"><%= p %></a>
					<% end %>
			  </div>
			</div>
		</td>
		<td>&nbsp;&nbsp;&nbsp;&nbsp;
			
			<div class="form-check form-check-inline">
			  <label class="form-check-label">
			    <input onclick="ShowMarker();" class="form-check-input" type="checkbox" id="show_marker" value="option1"> Large Point Marker 
			  </label>
			</div>
		</td>
		</tr>
		</table>
		<br>



		<div class="my-4 loader" id="chartSpinner"></div>
		<canvas class="my-4 d-none" id="chartCanvas" ></canvas>



  <!-- Graphs -->


<script>

var step ;

var chart ;

	var options = {
	    type: 'line',
//	    data: data,
	    options: {
	        fill: false,
	       	animation: false,
			responsive: true,
			tooltips: {
				enabled:true,
			    callbacks: {
			      label: function(tooltipItem, data) {
					label = ToolTip_Millions(tooltipItem.yLabel) ;
                    return label; },
				  title: function(tooltipItem, data) {
					var title = tooltipItem[0].xLabel.toLocaleDateString("en-US") ;
					return title;
					}
			    }
		  	},		  
	        scales: {
	            xAxes: [{
	                type: 'time',
					time: { 
					    //unit: 'day',
					    //unitStepSize: 1,
					    displayFormats: { 'day': 'MMM DD' }
					},
					distribution: 'linear',
	                display: true,
	                scaleLabel: {
	                    display: true,
	                    labelString: "Month",
	                },
		            ticks: {
		                    fontSize: 14
		                   }
	            }],
	            yAxes: [{
	                ticks: {
						userCallback: function(value, index, values) {
							return yTickLabel(value, 2000000) ;
			           	},
						fontSize: 14,
//						beginAtZero: true,
//						max: 35000000,
//						min: 20000000,
						fontSize: 16,
			            stepSize: 1000000,			            
	                },
	                display: true,
	                scaleLabel: {
	                    display: true,
	                    labelString: "Page Views",
	                }
	            }]
	        }
	    }
	}

//function create_chart (){


$(document).ready(function() {
	
	feather.replace() ;	
	
	HideChart();
	//	
		var ctx1 = document.getElementById('chartCanvas').getContext('2d');


		chart = new Chart(ctx1, options);
		chart.data.labels = <%= @time %> ;
		chart.data.datasets.push({
		  fill: false,
		  pointRadius: 0,
		  spanGaps: true,
		  borderColor: 'green',
		  backgroundColor: 'green',
		  lineTension: 0,
		  label: "<%= raw @portfolio_name %>",
		  data: <%= @values %>
		});




		step = <%= @step %> ;

		chart.options.scales.yAxes[0].ticks.stepSize = <%= @step %> ;




		chart.options.scales.yAxes[0].ticks.max = <%= @max %> ;
		chart.options.scales.yAxes[0].ticks.min = <%= @min %> ;
		chart.options.scales.xAxes[0].scaleLabel.labelString = "All Years" ;
		chart.options.scales.xAxes[0].scaleLabel.fontSize = 16 ;

		chart.options.scales.xAxes[0].scaleLabel.labelString = "<%= @year %>" ;
		chart.options.scales.yAxes[0].scaleLabel.labelString = "Total Value (all securities)" ;

		chart.update() ;
ShowChart();
	//}
	
//  create_chart();
 });


</script>
