
<div class="container">
	  <header class="blog-header py-3">
	    <div class="row flex-nowrap justify-content-between align-items-center">
	      <div class="col-1">
			  <%= link_to 'Logout', logout_path, class: "float-left btn btn-sm btn-outline-secondary" %>
	      </div>
	      <div class="col-3 d-flex justify-content-end align-items-center">
			<%= link_to 'Info', info_path, class: "float-right btn btn-sm btn-outline-secondary" %>
			<%= link_to 'Highlights', highlights_path, class: "active float-right btn btn-sm btn-outline-secondary" %>
			<%= link_to 'Reports', consolidated_path, class: "float-right btn btn-sm btn-outline-secondary" %>
	      </div>

	      <div class="col-4 text-center">
	        <a class="blog-header-logo text-dark" href="#">Portfolio Manager</a>
	      </div>

	      <div class="col-4 d-flex justify-content-end align-items-center">
			<a href='<%= "#{ENV["SCHEDULER_LINK"]}"%>'> <span id='refresh_status'>Status</span></a> |
			<span id='poll_request_time'>Prices from ?</span>
			<a  id='poll_set' onclick="RefreshSet();return false;" class="text-muted" href="#">
				<svg height="30" width="30">
			  		<circle cx="15" cy="15" r="10" stroke="black" stroke-width="0" fill="green" />
				</svg>
			</a>
			<span id='poll_request'>Idle</span>
			<a  id='poll_active_dot' onclick="ToggleActivePoll();return false;" class="text-muted" href="#">
				<svg height="30" width="30">
			  		<circle cx="15" cy="15" r="10" stroke="black" stroke-width="0" fill="green" />
				</svg>
			</a>        
	      </div>

	    </div>
	  </header>


<table border=0>
	<tr>
		<td class="align-top pl-2 pt-2 pr-2"> 
		  <strong class="d-inline-block mb-2 text-primary">Portfolios</strong>
	      <table class='table table-sm'>
			<thead>
			<tr>
				<th>Name</th>
				<th class='text-right'>Value</th>
				<th class='text-right'>Change</th>
			</tr>
			</thead>
			<tbody>
			<% @portfolios_data[0].each do |p| %>
			<tr>
				<td><%= link_to p.name, highlights_modal_path(portfolio_name: p.name, port_gl: 'port'), remote: true %></td>
				<td class='text-right'><%= number_to_currency(p.cash+p.total_stocks_value + p.total_options_value, precision: 0) %></td>
				<td class='text-right'><%= number_to_currency(p.total_stocks_change_value, precision: 0) %></td>
			</tr>
			<% end %>
			<tr>
				<td></td>
				<td class='text-right'><%= number_to_currency(Portfolio.all.sum { |s| s.total_stocks_value } +
															  Portfolio.all.sum { |s| s.cash } +
															  Portfolio.all.sum { |s| s.total_options_value }	, precision: 0) %></td>
				<td class='text-right'><%= number_to_currency(Portfolio.all.sum { |s| s.total_stocks_change_value }	, precision: 0) %></td>
			</tr>
			</tbody>
		 </table>		
        </td>
		<td><table border=0>
			<tr>
				<td class="align-top pl-2 pt-2 pr-2">
			  <strong class="d-inline-block mb-2 text-primary">
				<%= link_to 'Gainers', highlights_modal_path(port_gl: 'positions'), remote: true %>
			  </strong>
		      <table class='table table-sm'>
				<thead>
				<tr>
					<th>Symbol</th>
					<th class='text-right'>Price</th>
					<th class='text-right'>Change</th>
				</tr>
				</thead>
				<tbody>
			    <% @winners[0..6].each do |stock| %>
			      <tr>			
			        <td><%= link_to stock[0], highlights_modal_path(symbol: stock[0], port_gl: 'gl'), remote: true %></td>
					<td class='toggleDisplay in text-right'><%= number_to_currency( stock[5].to_f ) %> (<%= number_to_currency( stock[6].to_f ) %>)</td>
					<td class='toggleDisplay in text-right'><%= number_to_currency(stock[3], precision: 0) %></td>
				</tr>
				<% end %>
				</tbody>
			  </table>
	          </td>
				<td class="align-top pl-2 pt-2 pr-2">

					<strong class="d-inline-block mb-2 text-primary">Loosers</strong>
			      <table class='table table-sm'>
					<thead>
					<tr>
						<th>Symbol</th>
						<th class='text-right'>Price</th>
						<th class='text-right'>Change</th>
					</tr>
					</thead>
					<tbody>
				    <% @loosers[0..6].each do |stock| %>
				      <tr>
				        <td><%= link_to stock[0], highlights_modal_path(symbol: stock[0], port_gl: 'gl'), remote: true %></td>
						<td class='toggleDisplay in text-right'><%= number_to_currency( stock[5].to_f ) %> (<%= number_to_currency( stock[6].to_f ) %>)</td>
						<td class='toggleDisplay in text-right'><%= number_to_currency(stock[3], precision: 0) %></td>
					</tr>
					<% end %>
					</tbody>
				  </table>





		      </td>
			</tr>
			<tr>
				<td class="align-top pl-2 pt-2 pr-2">
				<strong class="d-inline-block mb-2 text-primary"><%= link_to 'Recent Dividends', dividends_new_path %></strong>
				  <table class='table table-sm'>
						<thead>
						<tr>
							<th>Symbol</th>
							<th>When</th>
							<th>per Share</th>
							<th>Total</th>
						</tr>
						</thead>
						<tbody>
					    <% @dividends[0..6].each do |div| %>
					      <tr>
					        <td><%= div.symbol %></td>
							<td class='text-right'> <%= time_ago_in_words (div.date) %> ago</td>
							<td class='text-right'> <%= number_to_currency( div.amount ) %>/share</td>
							<td class='text-right'> <%= number_to_currency( div.amount * Stock.where(symbol: div.symbol).sum(0) { |s| s.quantity }, precision: 0 ) %></td>
						</tr>
						<% end %>
						<tr>
							<td class='text-right'><b>YTD:</b></td>
							<td class='text-right'><%= number_to_currency(@year_to_date_divs, precision: 0) %></td>
							<td class='text-right'><b>MTD:</b></td>
							<td class='text-right'><%= number_to_currency(@month_to_date_divs, precision: 0) %></td>
						</tr>
						</tbody>
				  </table>
				</td>
				<td class="align-top pl-2 pt-2 pr-5">				
					<strong class="d-inline-block mb-2 text-primary">
						<%= link_to 'Year to Date', graphs_path %>
					</strong>
					<%= line_chart History.where(portfolio_id: 9999, snapshot_date: Date.today.beginning_of_year..Date.today).order('snapshot_date').collect { |h| 
						[ h.snapshot_date.strftime("%-m/%-d"), h.total ]  }, id: "ytd-chart", thousands: ",", prefix: "$", min: @min, max: @max %>							
			  </td>
			</tr>
			</table>
		</td>
	</tr>
</table>

		
<br>
<table class='table table-sm table-bordered'>
	<thead class="thead-light">
	<tr>
		<th>Name</th>
		<th>Total</th>
		<th>Change Today</th>
		<th>Month to Date</th>
		<th>Year to Date</th>
		<th>Graph</th>
	</tr>
	</thead>
	
	<tbody>
		<% @start_totals.each.with_index do |st, i| %>
		<% group = Group.find(Portfolio.find_by_name(st).group_id).id %>
		<% if group == 1 %>
			<tr class="table-secondary">
		<% elsif group == 2 %>
			<tr class="table-info">
		<% else %>
			<tr>
		<% end %>
			<td><%= st[0] %> (<%= group %>)</td>
			<td class='text-right'><%= number_to_currency(st[1], precision: 0) %></td>
			<td class='text-right'><%= number_to_currency(st[4], precision: 0) %></td>
			<td class='text-right'><%= number_to_currency(st[5], precision: 0) %> 
				( <%= number_to_percentage( 100*st[5]/(st[1]-st[5]), precision: 2 ) %>)</td>
			<td class='text-right'><%= number_to_currency(st[6], precision: 0) %> 
				( <%= number_to_percentage( 100*st[6]/(st[1]-st[6]), precision: 2 ) %>)</td>
			<td class='text-center'><%= check_box_tag st[7], 1, true %></td>
		</tr>
		<% end %>
		<tr>
			<td>Total</td>
			<td class='text-right'><%= number_to_currency(@total_value, precision: 0) %></td>
			<td class='text-right'><%= number_to_currency(@day_change_total, precision: 0) %></td>
			<td class='text-right'><%= number_to_currency(@month_change_total, precision: 0) %>
				( <%= number_to_percentage( 100*@month_change_total/@start_month_total, precision: 2 ) %>)</td>
			<td class='text-right'><%= number_to_currency(@year_change_total, precision: 0) %>
			( <%= number_to_percentage( 100*@year_change_total/@start_year_total, precision: 2 ) %>)</td>
			<td class='text-center'><button type="button" onclick="refreshChart()" class="btn btn-primary btn-sm">Refresh Chart</button></td>
		</tr>
	</tbody>
</table>

<br>

<table class='table table-sm table-bordered'>
	<thead class="thead-light">
	<tr>
		<th>Name</th>
		<th>Total</th>
		<th>Change Today</th>
		<th>Month to Date</th>
		<th>Year to Date</th>
		<th>Graph</th>
	</tr>
	</thead>
	
	<tbody>
		<% @group_totals.each_with_index do |(key, val), index| %>
		<% group = Group.find_by_name(key).id %>
		<% if group == 1 %>
			<tr class="table-secondary">
		<% elsif group == 2 %>
			<tr class="table-info">
		<% else %>
			<tr>
		<% end %>
			<td><%= key %></td>
			<td class='text-right'><%= number_to_currency(val[0], precision: 0) %></td>
			<td class='text-right'><%= number_to_currency(val[3], precision: 0) %></td>
			<td class='text-right'><%= number_to_currency(val[4], precision: 0) %>
				( <%= number_to_percentage( 100*val[4]/val[6], precision: 2 ) %>)</td>
			<td class='text-right'><%= number_to_currency(val[5], precision: 0) %> 
				( <%= number_to_percentage( 100*val[5]/val[7], precision: 2 ) %>)</td>
			<td class='text-center'></td>
		</tr>
		<% end %>
		<tr>
			<td>Total</td>
			<td class='text-right'><%= number_to_currency(@total_value, precision: 0) %></td>
			<td class='text-right'><%= number_to_currency(@day_change_total, precision: 0) %></td>
			<td class='text-right'><%= number_to_currency(@month_change_total, precision: 0) %>
				( <%= number_to_percentage( 100*@month_change_total/@start_month_total, precision: 2 ) %>)</td>
			<td class='text-right'><%= number_to_currency(@year_change_total, precision: 0) %>
			( <%= number_to_percentage( 100*@year_change_total/@start_year_total, precision: 2 ) %>)</td>
			<td class='text-center'><button type="button" onclick="refreshChart()" class="btn btn-primary btn-sm">Refresh Chart</button></td>
		</tr>
	</tbody>
</table>


<%= line_chart chart_comparison_path, adapter: "google", library: {
			seriesType: "line",
			series: {
			        0 => {visibleInLegend: false}
			    },
			title: "Last 3 Years Relative Performance", chartArea: { width: '90%', height: '80%'},
			legend: { position: 'top', alignment: 'end' }, 
			hAxis: {title: "Date", format: 'MMM dd', gridlines: {color: 'rgb(211,211,211)', count: 6 } }, 
			vAxis: {format: 'percent', gridlines: { color: 'rgb(211,211,211)', count: 50 } } 
			}, id: "comparison", thousands: ",", prefix: "", min: -0.2, max: 0.5, height: "700px", points: false   %>							

</div><!-- container -->


<!-- The Modal -->
<div class="modal" id="highlightsModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal body -->
	  <div id='highlightsModal_table'></div>
	
      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


<script>
function refreshChart() {
	
	var h = [ ] ;
	$("input").each( function () {
		if ( $(this)[0].checked == true ) {
			h.push($(this)[0].name) ;
		}
	   });
	
	$.getJSON("/chart_comparison.js",
	{
       portfolios: h.toString(),
    }, 
     function(result){
		console.log('refreshChart') ;
		console.log('result:');
		console.log(result) ;
		console.log('getData:');
		var getData = Chartkick.charts["comparison"].getData();
		console.log(getData);
		console.log(Chartkick.charts["comparison"].updateData(result) );
		Chartkick.charts["comparison"].redraw();
    });    
} ;

var myVar = setInterval(myTimer, 5000);
var poll = true ;

function myTimer() {
//    var d = new Date();
//	var minutes = d.getMinutes();
//	document.getElementById("time").innerHTML = 10 - (minutes % 10) ;
//    document.getElementById("time").innerHTML = d.toLocaleTimeString();
if (poll) {
	$.getJSON( "poll_check.js", function( data ) {

	if (data['poll_request'] == 'Updating') {
		$("#poll_request_button").removeClass("btn-warning");  
		$("#poll_request_button").addClass("btn-primary");  
		
		$('#poll_set').find("path, polygon, circle").attr("fill", "blue");
				
	} else if ( data['poll_request'] == 'Waiting' ) {
		$("#poll_request_button").removeClass("btn-secondary");  
		$("#poll_request_button").addClass("btn-warning");  
		
		$('#poll_set').find("path, polygon, circle").attr("fill", "orange");
				
	} else if ( data['poll_request'] == 'Complete' ) {
		
		location.reload();
		
		$("#poll_request_button").removeClass("btn-primary");  
		$("#poll_request_button").addClass("btn-success");  
		
		$('#poll_set').find("path, polygon, circle").attr("fill", "green");
				
	}

	document.getElementById("poll_request_time").innerHTML = data['poll_request_time'] ; 
	document.getElementById("poll_request").innerHTML = data['poll_request'] ; 
	document.getElementById("refresh_status").innerHTML = data['refresh_status'] ; 


	});	
}
	
};

</script>
