
  <div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" href="<%= portfolios_path %>">
                  <span data-feather="home"></span>
                  Table 
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="<%= home_path %>">
                  <span data-feather="file"></span>
                  Graph <span class="sr-only">(current)</span>
                </a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="home"></span>
                Utilities 
              </a>
            </li>
            </ul>

            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Saved reports</span>
              <a class="d-flex align-items-center text-muted" href="#">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Current month
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Last quarter
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Social engagement
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">
                  <span data-feather="file-text"></span>
                  Year-end sale
                </a>
              </li>
            </ul>
          </div>
        </nav>


      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">History</h1>

          <div class="btn-toolbar mb-2 mb-md-0">
	
			<div class="dropdown">
			  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
			 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span id='portfolio_name'>All Portfolios</span>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    	<a class="dropdown-item" href="#">All</a>
			<div class="dropdown-divider"></div>
					<% @portfolios.each do |p| %>
				    <a onclick="ChangePortfolio('<%= p %>');return false;" class="dropdown-item" href="#"><%= p %></a>
					<% end %>
				<h6 class="dropdown-header">Dropdown header</h6>
			  		<a class="dropdown-item" href="#">SLATs</a>
			  
			  </div>
			</div>

			<div class="dropdown">
			  <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
			 	data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    <span id='period'>from Start</span>
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					<% @periods.each do |p| %>
				    <a onclick="ChangePeriod('<%= p %>');return false;" class="dropdown-item" href="#"><%= p %></a>
					<% end %>
			  </div>
			</div>
			<%= link_to 'Refresh', refresh_path(:portfolio => 8),  :remote => true, :method => :get,
			 	class: 'btn btn-sm btn-outline-secondary refresh_button' %>

          </div>
        </div>

		<div class="my-4 loader d-none" id="chartSpinner"></div>
		<canvas class="my-4" id="chartCanvas" ></canvas>

      </main>
    </div>
  </div>

  <!-- Graphs -->


<script>

var chart

function create_chart (){
	
	const ctx1 = document.getElementById('chartCanvas').getContext('2d');
	const options = {
	    type: 'line',
//	    data: data,
	    options: {
	        fill: false,
	       	animation: false,
			responsive: true,
			tooltips: {
			    callbacks: {
			      label: function(tooltipItem, data) {
					label = millions(tooltipItem.yLabel) ;
                    return label; },
				  title: function(tooltipItem, data) {
					var title = tooltipItem[0].xLabel.toLocaleDateString("en-US") ;
					console.log(data) ;
					console.log(tooltipItem) ;
					return title;
					}
			    }
		  	},		  
	        scales: {
	            xAxes: [{
	                type: 'time',
					time: { 
					    //unit: 'day',
					    //unitStepSize: 1,
					    displayFormats: { 'day': 'MMM DD' }
					},
					distribution: 'linear',
	                display: true,
	                scaleLabel: {
	                    display: true,
	                    labelString: "Month",
	                },
		            ticks: {
		                    fontSize: 14
		                   }
	            }],
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true,
						userCallback: function(value, index, values) {
							return millions(value) ;
			           	},
						fontSize: 14,
//						beginAtZero: true,
//						max: 35000000,
						min: 20000000,
						fontSize: 16,
			            stepSize: 5000000,			            
	                },
	                display: true,
	                scaleLabel: {
	                    display: true,
	                    labelString: "Page Views",
	                }
	            }]
	        }
	    }
	}
	
	chart = new Chart(ctx1, options);
	chart.data.labels = <%= @time %> ;
	chart.data.datasets.push({
	  fill: false,
	pointRadius: 0,
	spanGaps: true,
	  label: "<%= raw @name %>",
	  borderColor: 'green',
	  backgroundColor: 'green',
	  lineTension: 0,
	  data: <%= @values %>
	});
	chart.options.scales.yAxes[0].ticks.min = <%= @min %> ;
	chart.options.scales.xAxes[0].scaleLabel.labelString = "All Years" ;
	chart.options.scales.xAxes[0].scaleLabel.fontSize = 16 ;
	
	chart.options.scales.yAxes[0].scaleLabel.labelString = "Total Value (all securities)" ;

	chart.update() ;
	
}

function HideChart() {
	$("#chartSpinner").removeClass("d-none"); 
	$("#chartCanvas").addClass("d-none");
};
function ShowChart() {
	$("#chartCanvas").removeClass("d-none"); 
	$("#chartSpinner").addClass("d-none");	
}


function ChangePortfolio(portfolio) {
	HideChart() ;
	var period = document.getElementById("period").innerHTML
	console.log(portfolio_name + period) ;
	$.get("refresh.js", { portfolio:portfolio, period:period });
};

function ChangePeriod(period) {
	HideChart() ;
	var portfolio_name = document.getElementById("portfolio_name").innerHTML
	console.log(portfolio_name + period) ;
	$.get("refresh.js", { portfolio:portfolio_name, period:period });
};
	
$('#exampleSelect1').change(function() {
	var portname = $(this).val() ;
	console.log(portname) ;
	$.get("refresh.js", { portfolio:portname });
});

$(document).ready(function() {
  create_chart();
 });

function millions(value) {
	// Convert the number to a string and splite the string every 3 charaters from the end
    value = value.toString().slice(0,-6);
    value = value.split(/(?=(?:...)*$)/);

    // Convert the array to a string and format the output
    value = value.join(',');
    return '$' + value + 'M' ;
}

</script>
