<div class="container-fluid">
  <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="<%= portfolios_path %>">
                <span data-feather="home"></span>
                Table <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= home_path %>">
                <span data-feather="file"></span>
                Graph 
              </a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= histories_path %>">
              <span data-feather="home"></span>
              Utilities 
            </a>
          </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Social engagement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span data-feather="file-text"></span>
                Year-end sale
              </a>
            </li>
          </ul>
        </div>
      </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">History Records</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
			<div class="alert alert-primary" role="alert">
			  This is a primary alert—check it out!
			</div>
        </div>
      </div>

  <div class='col-6'>
  <div class="table-responsive">
	<table class="table table-bordered table-striped table-sm">
	  <thead>
	    <tr>
	      <th>Portfolio ID</th>
	      <th>Snapshot Date</th>
	      <th>Created at</th>
	      <th>Total Value</th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @histories.each do |history| %>	    
	      <tr>
	        <td><%= history.portfolio_id %></td>
	        <td class='text-right'><%= history.snapshot_date %></td>
	        <td class='text-right'><%= history.created_at %></td>
			<td class='text-right'><%= number_to_currency(history.total) %></td>
	      </tr>		
	    <% end %>
	
	  </tbody>
	</table>	
  </div>
  </div>

    </main>
  </div>
</div>


