<p id="notice"><%= notice %></p>

<p>
  <strong>Portfolio:</strong>
  <%= @stock.portfolio %>
</p>

<p>
  <strong>Title:</strong>
  <%= @stock.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @stock.body %>
</p>

<p>
  <strong>Purchase price:</strong>
  <%= @stock.purchase_price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @stock.quantity %>
</p>

<p>
  <strong>Symbol:</strong>
  <%= @stock.symbol %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stock.name %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @stock.portfolio_id %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @stock.purchase_date %>
</p>

<p>
  <strong>Strike:</strong>
  <%= @stock.strike %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @stock.expiration_date %>
</p>

<p>
  <strong>Stock option:</strong>
  <%= @stock.stock_option %>
</p>

<%= link_to 'Edit', edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
